.dropdownButton {
  
    background-color: orange;
    color: black;
    padding: 10px;
    font-size: 13px;
    margin-top: 10px;
   
    border: none;
    border-radius: 50px;
  
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  #type {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
   
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(150, 224, 247);
    min-width: 160px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.slide-controls
{
  position: relative;
  display: flex;
  height: 50px;
  width: 250px;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
  border:none;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left,rgb(141, 195, 240), #fa4299);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
  
  .dropdown-content a:hover {background-color: rgb(202, 224, 241);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropdownButton {background-color: rgb(248, 189, 106);} */