.typeOfProfile {
  
    background-color: orange;
    color: black;
    padding: 10px;
    font-size: 13px;
    margin-top: 10px;
    width: 200%;
    position: relative;
    bottom: 50px;
    border: none;
    border-radius: 50px;   
  }
  
  .typeOfProf
  {
    position: relative;
    bottom:100px;
    font-size: 12px;
   
   
  }
 
  #type {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
   
  }
  .dropdown-content {

    display: none;
    left: 960px;
    position: absolute;
    background-color: rgb(150, 224, 247);
    min-width: 160px;
    border-radius: 20px;
    top:30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .veteranMaxTitle
  {
    top:100px;
  }
  .commSignupTitle
  {
    position: relative;
    bottom: 200px;
    text-align: center;
    left: 60px;
  }
  #comName
  {
    position: relative;
    bottom: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #comname
  {
    width: 200px;
    background-color: rgb(214, 225, 234);
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    position: relative;
    bottom: 89px;
    right: 1px;
  }
  #comname:hover
  {
    background-color: rgb(141, 195, 240);
  }
  #comProfession
  {
    position: relative;
    bottom: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #comprofession
  {
    width: 200px;
    background-color: rgb(214, 225, 234);
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    position: relative;
    bottom: 89px;
    right: 1px;
  }
#comprofession:hover
{
  background-color: rgb(141, 195, 240);
}
#comEmail
{
  position: relative;
  bottom: 90px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#comemail
{
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 89px;
  right: 1px;
}

#comemail:hover
{
  background-color: rgb(141, 195, 240);
}
#comPassword
{
  position: relative;
  bottom: 77px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#compassword
{
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 69px;
  right: 1px;
}
#compassword:hover
{
  background-color: rgb(141, 195, 240);
}
.commDropButton
{
  position: relative;
  bottom: 90px;
  display: inline-block;
}
.dropdown
{
 
}

.dropdown-content
{
 position: absolute;
 right: 100%;
}

  .dropdown-content a:hover {background-color: rgb(202, 224, 241);}
  
  .dropdown:hover .dropdown-content {display: block;}
  