.shareevent
{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    background-color:white;
    -webkit-box-shadow: -7px 10px 11px 5px rgba(33,33,36,0.84); 
box-shadow: -7px 10px 11px 5px rgba(33,33,36,0.84);
}
.shareeventWrapper
{
    padding: 10px;
}
.shareeventTop
{
    display: flex;
    align-items: center;
}
.shareeventInput
{
    border: none;
    width: 100%;
}
.shareeventInput:focus
{
    outline: none;
}
.inviteButton
{
    position: absolute;
    top:-10px;
    /* margin-left: 105%; */

    border: none;
    padding: 15px;
    left: 960px;
    width: 90px;
    border-radius: 5px;
    background-color: rgb(27, 173, 221);
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43); 
box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43);
cursor: pointer;
}
.createButton
{
    position: absolute;
    top:196px;
    /* margin-left: 90%; */
    left: 1350px;
    border: none;
    padding: 15px;
    width: 90px;
    border-radius: 5px;
    background-color: rgb(27, 173, 221);
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43); 
box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43);
cursor: pointer;
}
.shareeventHr
{

    margin: 20px;
}
.addHobbies
{
    position: absolute;
   right:59%;
   top:27%;
   width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;

}

.addLocation
{
    position: absolute;
    right:35%;
    top:27%;
    width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}
.labelAddHobbies
{
    position: absolute;
   right:74%;
   top:28.5%;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.labelAddLocation
{
    position: absolute;
    right:50%;
    top:28.5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.dropdown-content
{
    display: none;
    left: 960px;
    position: absolute;
    background-color: rgb(150, 224, 247);
    min-width: 160px;
    border-radius: 20px;
    top:30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
