.shareevent
{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    background-color:white;
    -webkit-box-shadow: -7px 10px 11px 5px rgba(33,33,36,0.84); 
box-shadow: -7px 10px 11px 5px rgba(33,33,36,0.84);
}