@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
.post
{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43); 
    box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43);
    margin: 30px 0;


}
.postWrapper
{
    padding: 10px;
}
.postTop
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 80, 128);
    height: 43px;
    border-radius: 40px;
}
.postTopLeft
{
    display:flex;
    align-items: center;
}

.postProfileImg
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postUsername
{
    font-size: 15px;
    font-weight: bold;
    margin:0 10px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.postDate
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: 100;
    display: inline;
    color: white;
    margin-left: 825px;
}
#postBars
{
    position: relative;
    right:10px;
    color: white;
}
#postShare
{
    position: relative;
    right:60px;
    color: white;
}
.postCenter
{
    margin: 20px 0;

}
.postImg 
{
    margin-top: 20px;
    width: 100%;
    max-height: 500px ;
    object-fit: contain;
}
.postBottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(143, 186, 224);
    border-radius: 50px;
    height: 40px;
   
}
#follow-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    /* color: #3399FF;
    font-family: "Helvetica";
    font-size: 10pt;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #3399FF;
    border-radius: 3px;
    width: 85px;
    height: 30px;
    position: absolute;	 
    top: 50px;
    left: 50px;	
    cursor: hand;		     */
  }
  .follow-btn a {
    width: 60px;
    height: 55px;
    line-height: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
   display: inline-block;
	vertical-align: middle;
	padding-top:5px;
}
.postBottomLeft
{
    display: flex;
    align-items: center;
}
.likeIcon
{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.postLikeCounter
{
    font-size: 15px;
}
.postCommentText
{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
/* .postingText
{
    font-size: 12px;
    display: inline;
    margin-left: 200px;
} */
#usernameIcon
{
    color: white;
    position: relative;
    top:1px;
    margin-left: 10px;
}
.postHr1
{
    width: 100%;
    background-color: rgb(62, 119, 181);
    height: 3px;
    position: relative;
   margin-left: 0px;
}
.postHr2
{
    width: 100%;
    background-color: rgb(62, 119, 181);
    height: 3px;
    position: relative;
   margin-left: 0px;
   top:50px;
}
.center ul{
    list-style: none;
    position: relative;
    display: inline;
}
.center ul li{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: left;
    background-color: aquamarine;
    line-height: 55px;
    margin: 0 -16px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color .5s ease-out,
                border-radius .5s .25s ease-out,
                margin .5s .25s ease-out;

}
.center
{
    width: 315px;
    
    text-align: left;
}

.center ul li i{
    color: red;
    font-size: 22px;
    opacity: 0;
    transition: opacity 1.7s;
}
.center ul li:hover {
    background-color: blanchedalmond;
}
.center ul .followText
{
    position: absolute;
    top:0;
    left:0;
    right:0;
    text-align: center;
    background: #1f7a7a ;
    color: blueviolet;
    line-height: 50px;
    border-radius: 50px;
    font-size:22px;
    pointer-events: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.center ul:hover .followText
{
    opacity: 0;
    transition: opacity .5s .125s ease-out;

}
.center ul:hover li i{
    opacity: 1;
}
.center ul li:nth-child(1)
{
   border-bottom-left-radius: 25px;
   border-top-left-radius: 25px;
}
.center ul:hover li{
    border-radius: 50px;
    margin:  0 3px;
}
.follow-button {
    /* visibility: hidden; */
    color: #3399FF;
    font-family: "Helvetica";
    font-size: 10pt;
    background-color: white;
    border: 1px solid;
    border-color: #3399FF;
    border-radius: 3px;
    width: 85px;
    height: 30px;
    cursor: pointer;
    position: absolute;	 
    top: 50px;
    left: 50px;	
    cursor: hand;		    
  }
  /* .follow-button::after
  {
    visibility: visible;
    position: absolute;
    content: "Followed";
  } */
  .follow-button:focus
  {
    color: #3399FF;
    font-family: "Helvetica";
    font-size: 10pt;
    background-color: #220557;
    border: 1px solid;
    border-color: #3399FF;
    border-radius: 50px;
    width: 85px;
    height: 30px;
    cursor: pointer;
    position: absolute;	 
    top: 50px;
    left: 50px;	
    visibility: visible;
    content: "Followed";
    cursor: hand;		
  }





