.post
{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43); 
    box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43);
    margin: 30px 0;


}
.postWrapper
{
    padding: 10px;
}
.postTop
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 80, 128);
    height: 43px;
    border-radius: 40px;
}
.postTopLeft
{
    display:flex;
    align-items: center;
}

.postProfileImg
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postUsername
{
    font-size: 15px;
    font-weight: bold;
    margin:0 10px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.postDate
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: 100;
    display: inline;
    color: white;
    margin-left: 825px;
}
#postBars
{
    position: relative;
    right:10px;
    color: white;
}
#postShare
{
    position: relative;
    right:60px;
    color: white;
}
.postCenter
{
    margin: 20px 0;

}
.postImg 
{
    margin-top: 20px;
    width: 100%;
    max-height: 500px ;
    object-fit: contain;
}
.postBottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(143, 186, 224);
    border-radius: 50px;
    height: 40px;
   
}
.postBottomLeft
{
    display: flex;
    align-items: center;
}
.likeIcon
{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.postLikeCounter
{
    font-size: 15px;
}
.postCommentText
{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
/* .postingText
{
    font-size: 12px;
    display: inline;
    margin-left: 200px;
} */
#usernameIcon
{
    color: white;
    position: relative;
    top:1px;
    margin-left: 10px;
}
.postHr1
{
    width: 100%;
    background-color: rgb(62, 119, 181);
    height: 3px;
    position: relative;
   margin-left: 0px;
}
.postHr2
{
    width: 100%;
    background-color: rgb(62, 119, 181);
    height: 3px;
    position: relative;
   margin-left: 0px;
   top:50px;
}


