*
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Profile
{
   flex: 5;
}
.profileWrapper
{
  padding: 20px;
}
.title
{
   margin-left: 45%;
    color: rgb(5, 93, 122);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#labelHobbies
{
   
   position: relative;
   top:-0px;
}

#hobbies
{
    margin-left: 43px;
    margin-bottom: 15px;
    width: 250px;
    background-color: rgb(214, 225, 234);
    height: 30px;
    border: none;
    border-radius: 10px;

}
#nam
{
    margin-left: 60px;
    margin-bottom: 15px;
    width: 250px;
    background-color: rgb(214, 225, 234);
    height: 30px;
    border: none;
    border-radius: 10px;
}
#prof
{
    margin-left: 27px;
    margin-bottom: 15px;
    width: 250px;
    background-color: rgb(214, 225, 234);
    height: 30px;
    border: none;
    border-radius: 10px;
}
#relation
{
    margin-left: 14px;
    margin-bottom: 15px;
    width: 250px;
    background-color: rgb(214, 225, 234);
    height: 30px;
    border: none;
    border-radius: 10px;
}
.saveChanges
{
  border: none;
  padding:15px;
  border-radius: 30px;
   
   
    background-color: rgb(75, 208, 234);
    margin-left: 150px;
    cursor: pointer;
}