.shareeventPost
{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43); 
    box-shadow: 4px 17px 11px -2px rgba(33,33,36,0.43);
    margin: 30px 0;
}
.shareventWrapper
{
    padding: 10px;
}
.shareeventPostTop
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 80, 128);
    height: 43px;
    border-radius: 40px;
}
.shareeventPostTopLeft
{
    display:flex;
    align-items: center;
}
.shareeventPostCenter
{
    margin: 20px 0; 
}
.shareeventPostBottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(143, 186, 224);
    border-radius: 50px;
    height: 40px;
   
}
.shareeventPostBottomLeft
{
    display: flex;
    align-items: center; 
}