.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.signupTitle {
  position: relative;
  bottom: 200px;
  text-align: center;
  left: 60px;
}
.slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 250px;
  bottom: 70px;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
  border: none;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, rgb(141, 195, 240), #fa4299);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type='radio'] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.form {
  text-align: left;
  padding: 50px;
  position: relative;
  width: 100px;
  left: 70%;
  bottom: 30px;
}
#name {
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 89px;
  
}
#name:hover {
  background-color: rgb(141, 195, 240);
}
#Name {
  position: relative;
  bottom: 90px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#profession {
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 89px;
 
}
#profession:hover {
  background-color: rgb(141, 195, 240);
}
#Profession {
  position: relative;
  bottom: 90px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#email {
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 89px;
  right: 1px;
}
#email:hover {
  background-color: rgb(141, 195, 240);
}
#Email {
  position: relative;
  bottom: 90px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#password {
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 69px;
  right: 1px;
}
#password:hover {
  background-color: rgb(141, 195, 240);
}
#Password {
  position: relative;
  bottom: 77px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#city {
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 53px;
  right: 1px;
}
#city:hover {
  background-color: rgb(141, 195, 240);
}
#City {
  position: relative;
  bottom: 55px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#relationship {
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 35px;
 
}
#relationship:hover {
  background-color: rgb(141, 195, 240);
}
#Relation {
  position: relative;
  bottom: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Hobby {
  position: relative;
  bottom: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hobby {
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 25px;
  right: 1px;
}
#hobby:hover {
  background-color: rgb(141, 195, 240);
}
#signupheader {
  padding: 0%;
  position: absolute;
  left: 1px;
  height: 100%;
  top: 0%;
  background-color: rgb(41, 177, 222);
}
#VeteranMax {
  position: relative;
  left: 30%;
}
#SignupButton {
  position: relative;
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  padding-right: 100px;
  border-radius: 30px;
  margin-left: 25px;
  top: 30px;

  background-color: orange;
  height: 50px;
  text-decoration: none;
  border: none;
}
#logininstead {
  border: none;
  background-color: white;
  position: relative;
  top: -65px;
  color: blue;
  text-decoration: underline;
}

#loginEmail
{
  position: relative;
  bottom: 400px;
  left: 450px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#loginemail
{
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 359px;
  right: -410px;
}
#loginemail:hover
{
  background-color: rgb(141, 195, 240);
}
#loginPassword
{
  position: relative;
  bottom: 300px;
  left: 210px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#loginpassword
{
  width: 200px;
  background-color: rgb(214, 225, 234);
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  position: relative;
  bottom: 259px;
  right: -140px;
  
}
#loginpassword:hover
{
  background-color: rgb(141, 195, 240);
}
.LoginButton
{
  background-color: orange;
  padding: 15px;
  width: 5%;
  border: none;
  border-radius: 50px;
  position: relative;
  bottom: 200px;
  right: px;  
}
.loginTitle
{
  position: relative;
  text-align: center;
  left: 400px;
  top: 150px;
}
.loginHr1
{
  position: relative;
  bottom: 570px;
  border: none;
  height: 12px;
  left: 400px;
  width:30%;
  background: orange;
  margin-bottom: 50px;
}
.loginHr2
{
  position: relative;
  bottom: 220px;
  border: none;
  height: 12px;
  left: 400px;
  width:30%;
  background: orange;
  margin-bottom: 50px;
}
.loginHr3
{
  position: relative;
  bottom: 694px;
  border: none;
  height: 424px;
  left: 180px;
  width:1%;
  background: orange;
  margin-bottom: 50px;
}
.loginHr4
{
  position: relative;
  bottom: 1168px;
  border: none;
  height: 424px;
  left: 630px;
  width:1%;
  background: orange;
  margin-bottom: 50px;

}

